html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

svg#path {
    position: absolute;
    opacity: 0;
}

.plane {
    width: 90px;
    height: 90px;
    offset-distance: 0%;
    animation: fly 5s linear reverse infinite;
    background-image: url('./plane-side-view-svgrepo-com.svg');
}

@keyframes fly {
    from {
      offset-distance: 0%;
    }
    to {
      offset-distance: 100%;
    }
}