html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

svg {
    display: block;
    position: absolute;
  }

.plane {
    width: 90px;
    height: 90px;

    offset-path: path('M0 0 500 200 L600 700');
    offset-distance: 0%;
    animation: red-ball 2s linear reverse infinite;
}

@keyframes red-ball {
    from {
      offset-distance: 0%;
    }
    to {
      offset-distance: 100%;
    }
  }